html {
  background: #f2f1f4;
  color: #19171c;
}

/* Detta har med funktionalitet att göra */
.description {
  display: none;
  padding-left: 10px;
}

/* Detta har med funktionalitet att göra */
.active + .description {
  display: block;
}

/* .active, .title:hover {
  background-color: #ccc;
}   */

.accordion div:nth-child(4n+2) {
  background-color: #ccc;
}

.title {
  width: 300px;
  height: 50px;
  align-items: center;
}

.accordion {
  height: 500px;
  width: 400px;
  border: 1px solid black;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 50px;
}
